services:
  qdrant:
    image: qdrant/qdrant:v1.17
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
      - "6335:6335"
    volumes:
      - qdrant_data:/qdrant/storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    

volumes:
  qdrant_data: