services:
  qdrant:
    image: qdrant/qdrant:v1.17
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
      - "6335:6335"
    volumes:
      - qdrant_data:/qdrant/storage
    

volumes:
  qdrant_data: